/* Sidebar on homepage */
.sidebar {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    left: 0%;
    background-color: rgb(4, 8, 48);
    color: white;
    overflow-x: hidden;
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    padding-top: 10%;
    text-align: center;
    transition: color 200ms ease;
}

.sidebar a:hover {
    transition: color 200ms ease;
    font-size: 20px;
    color: #ee7c22;
}

.main {
    margin-left: 160px;
    /* Same as the width of the sidenav */
    padding: 0px 10px;
}

/* make sidebar center */
.middle {
    text-align: center;
    position: relative;
    top: 25%;
    -ms-transform: translateY(-30%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-40%);
}

/* Page visit count*/
.count {
    background-color: rgb(245, 245, 252);
    text-align: left;
    padding-left: 23%;
    padding-top: 2%;
    font-size: 16px;
    font-weight: bold;
}

/* about section */
.about-grid-container {
    background-color: rgb(245, 245, 252);
    color: rgb(4, 8, 48);
    display: flex;
    flex-wrap: wrap;

    padding-left: 22%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.about-grid-container>div {
    margin: 2%;
}

/* Flex box images */
.about-image-box {
    position: relative;
    flex: 30%;
}

.about-image {
    width: 350px;
    height: 350px;
    object-fit: cover;
    position: relative;
    border-radius: 50%;
    transition: filter 200ms ease;
}

.about-image:hover {
    filter: brightness(90%);
    transition: filter 200ms ease;
}

/* Flex box text */
.about-grid-textbox {
    flex: 50%;
    height: auto;
    background-color: rgb(245, 245, 252);
    color: rgb(4, 8, 48);
    text-align: center;
}

.about-name {
    font-size: 36px;
    font-family: 'montserrat';
    color: rgb(4, 8, 48);
    text-align: left;
    text-transform: uppercase;
    font-weight: bolder;
    padding-top: 0%;
}

.name {
    color: rgb(4, 8, 48);
    transition: color 200ms ease;
}

.name:hover {
    color: #ee7c22 !important;
    text-decoration: initial;
    transition: color 200ms ease;
}

.about-title {
    font-size: 24px;
    font-family: 'montserrat';
    color: rgb(4, 8, 48);
    text-align: left;
    font-weight: bold;
}

.about-description {
    font-size: 18px;
    font-family: 'montserrat';
    color: rgb(4, 8, 48);
    text-align: left;
    padding-top: 1%;
    padding-left: 0%;
}

.about-contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about-contact>div {
    margin: 5%;
}

.about-contact-info {
    font-size: 18px;
    font-family: 'montserrat';
    color: rgb(4, 8, 48);
    text-align: left;
    flex: 40%;
}

.about-contact-website {
    font-size: 18px;
    font-family: 'montserrat';
    color: rgb(4, 8, 48);
    text-align: left;
    flex: 40%;
}

.contact-icon {
    font-size: 16px;
    width: 16px;
    margin-right: 2%;
}

.hyperlink {
    color: rgb(4, 8, 48);
    transition: color 200ms ease;
    text-decoration: underline;
}

.hyperlink:hover {
    color: #ee7c22 !important;
    text-decoration: initial;
    transition: color 200ms ease;
}

.hyperlink:visited {
    color: rgb(4, 8, 48);
}

.hyperlink:active {
    color: rgb(4, 8, 48);
}


/* Education section */
.education-section {
    background-color: rgb(245, 245, 252);
    color: rgb(4, 8, 48);

    padding-left: 23%;
    padding-right: 5%;
    padding-top: 0%;
    padding-bottom: 2%;
}

.section-header {
    font-size: 36px;
    font-family: 'montserrat';
    color: rgb(4, 8, 48);
    text-align: left;
    text-transform: uppercase;
    font-weight: bolder;
}

.education-header {
    font-size: 24px;
    font-family: 'montserrat';
    color: rgb(4, 8, 48);
    text-align: left;
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 5%;
    padding-top: 1%;
}

.education-date {
    font-size: 20px;
    font-family: 'montserrat';
    color: rgb(4, 8, 48);
    text-align: left;
    float: right;
    padding-right: 5%;
    padding-top: 1%;
}

.education-degree {
    font-size: 20px;
    font-family: 'montserrat';
    color: rgb(4, 8, 48);
    text-align: left;
    float: left;
    padding-left: 5%;
    margin-bottom: 1%;
}

.education-location {
    font-size: 20px;
    font-family: 'montserrat';
    color: rgb(4, 8, 48);
    text-align: left;
    float: right;
    padding-right: 5%;
    margin-bottom: 1%;
}

.education-detail {
    font-size: 18px;
    font-family: 'montserrat';
    color: rgb(4, 8, 48);
    text-align: left;
    padding-left: 5%;
    padding-right: 8%;
    padding-top: 0%;
}

/* Make scroll smooth */
html {
    scroll-behavior: smooth;
}